.not_found {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  margin-top: 20vh;
}

.not_found_title {
  font-size: 200px;
}

.not_found_description {
  font-size: 25px;
}

.not_found_icon {
  font-size: 130px;
}

@media screen and ( max-width : 560px ) {

  .not_found_title {
    font-size: 110px;
  }

  .not_found_description {
    font-size: 16px;
  }

  .not_found_icon {
    font-size: 90px;
  }
}
