header {
  align-items: center;
  background-color: rgb(105, 220, 158);
  border-bottom: 3px solid rgb(139, 133, 193);
  color: #011638;
  display: flex;
  font-size: 26px;
  height: 80px;
  justify-content: space-between;
}

.username {
  background-color: rgb(91, 62, 141);
  border-radius: 30px;
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-left: 10px;
  min-width: 120px;
  padding: 10px;
  text-align: center;
}

header nav {
  margin-right: 10px;
}

header nav a {
  color: rgb(91, 62, 141);
  font-weight: 700;
  margin: 0 10px;
  text-decoration: none;
}

header nav a:hover {
  color: white;
}
